<div class="dashboard-nav">
  <header>
    <a href="#!" class="menu-toggle"><i class="fas fa-bars"></i></a
    ><a href="#" class="brand-logo"><span>CARE COLLEGE</span></a>
  </header>
  <nav class="dashboard-nav-list">
    <!-- <a href="/mcq_question_upload.html" class="dashboard-nav-item nav-item"
      ><i class="undefined"></i>MCQ Question Upload</a
    >
    <a href="/mcq_create_template.html" class="dashboard-nav-item nav-item"
      ><i class="undefined"></i>Create McQ Template</a
    >
    <a href="/mcq_view_template.html" class="dashboard-nav-item nav-item"
      ><i class="undefined"></i>View McQ Templates</a
    >
    <a
      href="/generate_mcq_question_paper.html"
      class="dashboard-nav-item nav-item"
      ><i class="undefined"></i>Generate McQ Question Paper</a
    >
    <a href="/take_mcq_test.html?id=35" class="dashboard-nav-item nav-item"
      ><i class="undefined"></i>Take McQ Test</a
    >
    <a href="/student_report.html" class="dashboard-nav-item nav-item"
      ><i class="undefined"></i>Test Performance Analysis</a
    >
    <a href="/report_by_class.html" class="dashboard-nav-item nav-item"
      ><i class="undefined"></i>Test Performance Analysis By Class</a
    > -->
  </nav>
</div>
