<div class="dashboard-nav">
  <header>
    <a href="#!" class="menu-toggle"><i class="fas fa-bars"></i></a
    ><a href="#" class="brand-logo"><span>CARE COLLEGE</span></a>
  </header>
  <nav class="dashboard-nav-list">
     <a
      href="/generate_using_template.html"
      class="dashboard-nav-item nav-item"
      ><i class="undefined"></i>Generate Question Paper</a
    >
     <a
      href="/view_qp.html"
      class="dashboard-nav-item nav-item"
      ><i class="undefined"></i>Download Question Paper</a
    >
  </nav>
</div>
